[submodule "vim_modules/ctrlp.vim"]
	path = vim_modules/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim_modules/python-module"]
	path = vim_modules/python-module
	url = https://github.com/klen/python-mode
[submodule "vim_modules/riv.vim"]
	path = vim_modules/riv.vim
	url = https://github.com/Rykka/riv.vim.git
[submodule "vim_modules/tagbar"]
	path = vim_modules/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim_modules/vim-go"]
	path = vim_modules/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim_modules/ultisnips"]
	path = vim_modules/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim_modules/YouCompleteMe"]
	path = vim_modules/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim_modules/vim-airline"]
	path = vim_modules/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim_modules/vim-fugitive"]
	path = vim_modules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim_modules/nerdtree"]
	path = vim_modules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim_modules/vim-flake8"]
	path = vim_modules/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "vim_modules/vim-python-pep8-indent"]
	path = vim_modules/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent
[submodule "vim_modules/vim-colors-solarized"]
	path = vim_modules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim_modules/auto-pairs"]
	path = vim_modules/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
